# deps
node_modules
.pnp
.pnp.js
.pnpm-store

# build
.next
dist
out
build

# env
.env
.env.local
.env.*.local

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS
.DS_Store
*.pem
Thumbs.db

# editor
.vscode
.idea

# temp
*.tsbuildinfo
next-env.d.ts
.turbo
.vercel

# docx lock files
~$*.docx
Design, Build, Ship*.docx
